* {
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }

}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.special {
    text-align: center;
}

.special h1 {
    font-size: 100px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    color: #ddd;
}

.special p {
    color: #6a6868;
    font-size: 20px;
    margin-top: -30px;
}

@media (max-width:768px) {
    .special h1 {
        font-size: 80px;
    }

    .special p {
        font-size: 15px;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
}

header {
    padding: 0 10px;
    height: 60px;
}

header .container {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 40px;
    height: 40px;
}

header .links {
    display: flex;
    list-style: none;
    gap: 20px;
}

header .links li {
    padding: 0 5px;
    cursor: pointer;
}

header .links li:hover a {
    color: rgb(0, 126, 128);
}

header .links li a {
    font-size: 15px;
    color: black;
    font-weight: 800;
}

.landing {
    background-image: url("../images/landing.jpg");
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
}

.landing h1 {
    width: 620px;
    color: white;
    margin-top: -20px;
    line-height: 40px;
    font-size: 40px;
    text-align: center;
}

.features {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f6f6f6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.features .container .box {
    text-align: center;
}

.features .container .box i {
    color: #10cab7;
}

.features .container .box p {
    line-height: 25px;
    max-width: 300px;
    margin: auto;
    color: #777;
}

.service {
    padding-top: 50px;
    padding-bottom: 50px;
}

.service .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    padding-top: 50px;
}


.service .container .serv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    margin-top: 30px;
}


.service .serv h3 {
    margin-top: 5px;
}

.service .serv p {
    line-height: 25px;
}

.service .img-holder {
    position: relative;
    z-index: 1;
}

.service .img-holder img {
    max-width: 100%;
    width: 300px;
    position: relative;
    z-index: 1;

}

.service .img-holder::after {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 40px);
    right: 25px;
    top: -30px;
    z-index: -1;
    background-color: #c33939;
}

@media (max-width:1200px) {
    .service .img-holder {
        display: none;
    }

    .service .container .serv {
        flex-direction: column;
        text-align: center;
    }

    .service .container .serv i {
        margin: auto;
    }
}

.portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f6f6f6;
}

.portfolio .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.portfolio .container .project {
    background-color: white;
}

.portfolio .container .project .text {
    padding: 20px;
    padding-top: 0;
}

.portfolio .container .project .text p {
    color: #777;
}

.portfolio .container img {
    max-width: 100%;
}

.about {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about .container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about .img-holder {
    position: relative;
}

.about .img-holder::before {
    content: "";
    background-color: #c33939;
    width: 200px;
    height: 200px;
    position: absolute;
    left: -30px;
    bottom: -30px;
    z-index: -1;
}

.about .img-holder::after {
    content: "";
    background-color: #10cab7;
    width: 200px;
    height: 200px;
    position: absolute;
    right: -30px;
    top: -30px;
    z-index: -1;
}

.about .img-holder img {
    max-width: 100%;
    width: 250px;
}

.about .text {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 70px
}

.about .text2 {
    border-top: 3px solid #10cab7;
    padding-top: 20px;
    color: #777;
}

.about .text>div {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

@media (max-width:992px) {
    .about .container {
        flex-direction: column;
        gap: 50px
    }

    .about .img-holder::before,
    .about .img-holder::after {
        display: none;
    }

    .about .text>div {
        text-align: center;
        max-width: 700px;
    }
}